.git
.github
.idea
.vscode
.venv
venv
env

**/__pycache__
**/*.py[cod]
**/*.pyd
**/*.so
.pytest_cache
.mypy_cache
.ruff_cache

build
dist
release-dist
logs
tmp
captures
parity-artifacts
ugc-projects

*.zip
*.rar
*.7z
*.log

docs
tests
tools
